Basic If statement

In [5]:
age = 27
if age == 27:
    print(True)
else:
    print(False)
print("Thank you")

True
Thank you

Calculator

In [8]:
first = int(input("Enter the number: "))
Second =int(input("enter the Number: "))
operator = input("please enter the operator Symbol for operation as (+,-,*,/,%):")

if operator == "+":
    print(first + Second)
elif operator == "-":
    print(first - Second)
elif operator == "*":
    print(first * Second)
elif operator == "/":
    print(first / Second)
elif operator == "%":
    print(first % Second)
else:
    print("Wrong input")

print(":)")

Wrong input
:)

for loop

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10


while loop

In [4]:
i = 1
while i <=10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [5]:
i = 1
while i<=10:
    print(i*"*")
    i = i + 1

*
**
***
****
*****
******
*******
********
*********
**********

In [3]:
i = 10
while i>=1:
    print(i*"*")
    i = i - 1

**********
*********
********
*******
******
*****
****
***
**
*

In [6]:
marks = ["sumit", "amit", "anil", "shanti", "tommy"]
for i in marks:
    print(i)

sumit
amit
anil
shanti
tommy

break statment

In [9]:
name = ["sumit", "amit", "anil", "shanti", "tommy"]
for students in name:
    if students == "tommy":
        break
    print(students)

sumit
amit
anil
shanti

continue

In [10]:
name = ["sumit", "amit", "anil", "shanti", "tommy"]
for students in name:
    if students == "sumit":
        continue
    print(students)

amit
anil
shanti
tommy

set

In [12]:
name = {1,12,2,2,31,3,4,5,6,8,9,}
for x in name:
    print(x)

1
2
3
4
5
6
8
9
12
31

In [16]:
from math import *
print(int(sqrt(144)))

12